* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(231, 231, 231), rgb(179, 179, 179));
  padding: 0px;
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}


