* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(163, 216, 236), rgb(154, 197, 172));
  padding: 10px;
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

