.preview-section {
  height: 100%;
  width: 60%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.preview-page {
  width: 680px;
  height: 880px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 0px 7px black;;
}

.left-side {
  background-color: rgb(5, 5, 63);
  color: rgb(243, 243, 243);
}

.gold-tab {
  background-color: gold;
  height: 100%;
  width: 10px
}

.image-container {
  width: 100%;
  height: 140px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 130px;
  height: 130px;
  border: 4px solid gold;
  border-radius: 50%;
}

.right-side {
  background-color: rgb(243, 243, 243);
}

.name-banner {
  background-color: rgb(199, 199, 199);
  margin: 30px 0px;
  height: 140px;
  display: flex;
}

.name-container {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-banner h1 {
  font-weight: 300;
}

.profession {
  font-weight: 700;
  font-size: 16px;
}

.small-banner {
  width: 100%;
  display: flex;
  height: 24px;
  background-color: rgb(199, 199, 199);
  align-items: center;
}

.small-banner h3 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 16px;
}

.left-side .small-banner {
  background-color: rgb(22, 22, 22);
}

.left-side-item {
  margin: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
}

.left-side-item svg {
  margin-right: 10px;
}

p {
  margin: 12px 40px;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}