
.preview-section {
  height: 100%;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  
}

h1 {
  font-size: 72px;
}

.preview-page {
  width: 1360px;
  height: 1760px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 0px 14px black;
  margin: 0px;
  padding: 0px;
  transform: scale(0.5);
  transform-origin: top;
}

.left-side {
  background-color: rgb(5, 5, 63);
  color: rgb(243, 243, 243);
}

.gold-tab {
  background-color: gold;
  height: 100%;
  width: 40px
}

.image-container {
  width: 100%;
  height: 280px;
  margin: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 260px;
  height: 260px;
  border: 8px solid gold;
  border-radius: 50%;
  object-fit: cover;
}

.right-side {
  background-color: rgb(243, 243, 243);
}

.name-banner {
  background-color: rgb(199, 199, 199);
  margin: 60px 0px;
  height: 280px;
  display: flex;
}

.name-container {
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-banner h1 {
  font-weight: 300;
}

.profession {
  font-weight: 700;
  font-size: 32px;
}

.small-banner {
  width: 100%;
  display: flex;
  height: 48px;
  background-color: rgb(199, 199, 199);
  align-items: center;
  margin-top: 60px;
}

.small-banner h3 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 32px;
}

.left-side .small-banner {
  background-color: rgb(22, 22, 22);
}

.left-side-item {
  margin: 24px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 28px;
}

.left-side-item svg {
  margin-right: 18px;
  margin-left: 0px;
}

p {
  margin: 24px 80px;
  font-size: 28px;
  text-align: justify;
  text-justify: inter-word;
}

.education-item {
  margin: 0px 0px 0px 72px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 28px;
}

.degree {
  margin: 24px 0px 0px 72px;
  font-weight: 700;
  font-size: 28px;
}

.job-title {
  margin: 24px 0px 0px 80px;
  font-size: 28px;
}

.job-description {
  margin: 0px 80px;
  font-size: 28px;
  text-align: justify;
  text-justify: inter-word;
}


.experience-item {
  margin: 0px 0px 0px 80px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 28px;
}

.pdf-btn {
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-90deg, #004d8b, #002546);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  transform: translateY(-880px);
}

.zoom {
  transform: scale(1.0);
}